<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Hello World!</title>
  </head>
  <body>
    
    <label for="">Link download</label>
    <input type="text" id="download">
    <label for="">Download directorio</label>
    <input type="text" id="folder"> <button id="boton" >select folder</button>
    <button id="open-folder">open folder</button>
    <button id="download-button">Download</button>

    <div id="conten-progress" value="0">
    
    </div>
  </body>
</html>