body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.form{
    display: flex;
    flex-direction: column;
}

.item{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px
    
}
.download{
    margin-top: 40px;
    text-align: center;
}

.button-download{
    background-color: darkorange;
    color: white;
    border-radius: 20px;
    height: 50px;
    width: 90px;
    border: none;
    font-size: 15px;
}

.button-download:hover{
    background-color:orange ;
}

.content{
    display: flex;
    border:solid black 3px;
    height: 230px;
    width: 700px;
    justify-items: center;
    margin-left: 5%;
    
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 40px;
    width: 100%;
    font-size: 30px;
    padding: 5px
}
.final{
    color:green
}