body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.form{
    display: flex;
    flex-direction: column;
 
}

.item{
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    }
.download{
    margin-top: 40px;
    text-align: center;
    
}

.button-download{
    background-color: darkorange;
    color: white;
    border-radius: 20px;
    height: 50px;
    width: 90px;
    border: none;
    font-size: 15px;
}

.button-download:hover{
    background-color:orange ;
}

.content{
        
    border:solid black 2px;
    height: 230px;
    justify-items: center;
    margin-left: 3px;
    margin-right: 3px;
    
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 40px;
    font-size: 30px;
    padding: 5px; 
}
.final{
    color:green;
    
}

.item-video{
    display: flex;
    color: blue;
    gap: 30px;
}
.progress{
    padding: 10px;
    align-items: end;
}